.DS_Store
*.log
node_modules/
__pycache__/
*.pyc
.idea/
.vscode/
*.iml
screenshots/
tenantmatch_app/.dart_tool/
tenantmatch_app/.packages
tenantmatch_app/.flutter-plugins
tenantmatch_app/.flutter-plugins-dependencies
tenantmatch_app/build/
tenantmatch_app/android/.gradle/
tenantmatch_app/android/local.properties
tenantmatch_app/ios/Pods/
tenantmatch_app/ios/.symlinks/
tenantmatch_app/ios/Flutter/Flutter.framework
tenantmatch_app/ios/Flutter/Flutter.podspec
tenantmatch_app/ios/Runner.xcworkspace/xcuserdata/
tenantmatch_app/pubspec.lock
